.settings-title {
    box-sizing: border-box;
    text-align: center;
    position: sticky;
    width: 27vw;
    height: 16vh;

    border-radius: 0px 0px 30px;
    border-bottom: 0.3vh solid;

    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 14vh;
}

.sidebar-menu {
    position: absolute;
    width: 23vw;
    height: 84vh;
    top: 16vh;
}

.sidebar-menu-selction-field {
    position: absolute;
    width: 19vw;
    height: 7vh;
    left: 2vw;

    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 5vh;
    display: flex;
    align-items: center;
    white-space: nowrap;

    border-bottom: 0.001vh solid;
}

.settings-action-slot {
    left: 23vw;
    height: 84vh;
    width: auto;

    background-color: yellow;
}

.settings-action-title {
    position: absolute;
    width: 20vw;
    height: 5vh;
    right: 26.5vw;
    top: 3.5vh;

    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 5vh;
    align-items: center;
    text-align: center;
}

.settings-home-button {
    position: absolute;
    width: 5vw;
    height: 10vh;
    right: 4.5vw;
    top: 3vh;
}